*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 10px; */
  // 1rem = 10px
  font-size: 62.5%;

  @media only screen and (max-width: $bp-tablet-land) {
    font-size: 56.25%; // 9px
  }

  @media only screen and (max-width: $bp-tablet-port) {
    font-size: 50%; // 8px
  }

  @media only screen and (max-width: $bp-mobile) {
    font-size: 45%; // 7.2px
  }

  @media only screen and (max-width: $bp-mobile-small) {
    font-size: 45%; // 7.2px
  }

  @media only screen and (max-width: $bp-mobile-smallest) {
    font-size: 40%; // 6.5px
  }

  // @include respond-phone {
  //   font-size: 50%;
  // }

  //   @include respond-to-viewport(tab-land) {
  //     font-size: 56.25%; // 1rem = 9px; 9/16 = 56.25%
  //   }

  //   @include respond-to-viewport(tab-port) {
  //     font-size: 50%; // 1rem = 8px; 8/16 = 50%
  //   }

  //   @include respond-to-viewport(phone) {
  //     font-size: 45%; // 1rem = px; 7.2/16 = 45%
  //   }

  // @include respond-to-viewport(small-phone) {
  //   font-size: 31.25%; // 1rem = 5px; 5/16 = 31.25%
  // }

  //   @include respond-to-viewport(big-desktop) {
  //     font-size: 75%; // 1rem = 12px; 12/16 = 75%
  //   }
}

body {
  background-color: #1d1d1d;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;

  //   @include respond-to-viewport(tab-port) {
  //     padding: 0;
  //   }
}

::selection {
  background-color: $color-tertiary;
  color: $color-white;
}
