$color-primary: #1d1d1d;
$color-secondary: #353030;
$color-tertiary: #5be9b9;

$color-white-primary: #ebe3e3;
$color-white-secondary: #ccd6f6;

$color-grey: #736e6e;
$color-grey-2: #838181;

$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;

$shadow-green-dark: 0px 0px 5px rgba(91, 233, 185, 0.7);

// Break points

$bp-mobile-small: 360px;
$bp-mobile: 600px;
$bp-tablet-port: 900px;
$bp-tablet-land: 1200px;
$bp-desktop-big: 1800px;
