@import "../sass/main.scss";

.experience-section {
  padding: 5rem;
  min-height: 60rem;

  @media only screen and (max-width: $bp-mobile) {
    padding: 3rem;
    min-height: 40rem;
  }
  &__container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;

    @media only screen and (max-width: $bp-mobile) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  &__company-name {
    font-size: 1.6rem;
    border-bottom: 2px solid $color-tertiary;
    padding: 0.8rem 0.8rem;
    color: $color-white;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.08);
      color: $color-tertiary;
      background-color: $color-secondary;
      border-radius: 0.2rem;
    }

    &:active {
      transform: scale(1);
      color: $color-tertiary;
      background-color: transparent;
    }
  }

  &__company-description {
    flex: 0 0 50%;
    padding: 0 2rem 0 2rem;
    border-left: 2px solid $color-tertiary;
    border-radius: 0.3rem;

    & p::first-letter {
      color: $color-tertiary;
      font-size: 3rem;
      font-weight: 600;
    }

    @media only screen and (max-width: $bp-mobile) {
      flex: 0 0 70%;
      padding: 0 1rem 0 2rem;
      margin: 2rem 0;
      border-left: none;
    }
  }
}

.active {
  font-size: 2rem;
  color: $color-tertiary;
}
