@import "../sass/main.scss";

.technologies-section {
  padding: 5rem;
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: $bp-tablet-port) {
    flex-direction: column;
  }

  @media only screen and (max-width: $bp-mobile) {
    padding: 2rem;
  }

  &__text-container {
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $bp-tablet-port) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    &-item {
      font-size: 1.8rem;
      color: $color-white;
      margin-left: 2rem;
      transition: all 0.2s;

      &:not(:last-child) {
        margin-bottom: 0.8rem;
      }

      &:hover {
        color: $color-tertiary;
        background-color: $color-secondary;
        transform: scale(1.3);
      }
    }
  }

  &__heading {
    margin: 2rem 0rem;
    font-size: 2.8rem;
    color: $color-white-secondary;
    font-weight: 400;

    @media only screen and (max-width: $bp-mobile) {
      font-size: 2rem;
    }
  }

  &__image-container {
    visibility: hidden;
    display: none;
    @media only screen and (min-width: $bp-mobile) {
      visibility: visible;
      display: block;
    }
  }
}
