@import "../sass/main.scss";

.work-card {
  border: 2px solid $color-tertiary;
  width: 25%;
  height: 35%;
  min-height: 400px;
  min-width: 250px;
  box-shadow: 0.5rem 0.5rem 1rem rgba($color-tertiary, 0.2);
  padding: 1.6rem;
  border-radius: 1rem;
  position: relative;
  margin: 2rem 1rem;

  @media only screen and (max-width: $bp-tablet-port) {
    width: 40%;
  }

  @media only screen and (max-width: $bp-mobile) {
    width: 75%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__heading {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.3;
    color: $color-tertiary;
  }

  &__text-description {
    font-size: 1.6rem;
    font-weight: 400;
    color: $color-white-primary;
    line-height: 1.3;
    letter-spacing: 1px;
  }

  &__text-technologies {
    margin-top: 2rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 3rem;
    font-size: 1.3rem;
    color: $color-grey-2;

    &--item {
      transform: scale(1);
      transition: all 0.2s;
      &:hover {
        @include techonologies_text;
        padding: 0;
      }
    }
  }
}

.image {
  &__git,
  &__ext-link {
    width: 1.8rem;
    height: 1.8rem;
    margin-left: 1.8rem;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.2);
    }

    &:active {
      transform: scale(1);
    }
  }
}
